.card {
    border-radius: 20px;
    border: none;
}

.card-footer {
    background: none;
}

.btn {
    border-radius: 50px;
    margin-right: 5px;
    color: #FFF;
}

.btn-excluir {
    background-color: #C31952;
}

.btn-editar {
    background-color: #CCC;
}

.modelo1 {
    background-color: #FFE2EB;
}

.modelo2 {
    background-color: #DAFFF6;
}

.modelo3 {
    background-color: #FFFD92;
}

.txt-long {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 6;
           line-clamp: 6; 
   -webkit-box-orient: vertical;
}