<div class="card {{ ideia.modelo }}">
    <div class="card-body">
        <p class="conteudo txt-long">{{ ideia.conteudo }}</p>
        <p class="autor"><b>{{ ideia.autor }}</b></p>
    </div>
    <div class="card-footer">
        <div class="acoes">
            <button class="btn btn-favoritar" routerLink="/ideias/favoritar-ideia/{{ideia.id}}">
                <i class="fa fa-heart{{ mudarIconeFavorito() }}"></i>
            </button>
            <button class="btn btn-editar" routerLink="/ideias/editar-ideia/{{ideia.id}}">
                <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-excluir" routerLink="/ideias/excluir-ideia/{{ideia.id}}">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</div>

