<section class="container criar-ideia text-center">
    <header class="header">
        <h2 class="txt-red">Adicione uma Nova ideia</h2>
    </header>

    <form class="shadow-sm">
        <label for="ideia">Ideia</label>
        <input
        type="textarea"
        class="input"
        id="ideia"
        name="ideia"
        [(ngModel)]="ideia.conteudo"
        placeholder="Digite a Ideia"
        >

        <label for="autor">Autor ou fonte</label>
        <input
          type="text"
          class="input"
          id="autor"
          name="autor"
          [(ngModel)]="ideia.autor"
          placeholder="Digite o autor ou a fonte"
        >

        <label for="modelo">Selecione o modelo do card</label>
        <div class="container-radio">
            <div class="radio-modelo">
                <label for="modelo1">
                    <input 
                        type="radio"
                        id="modelo1"
                        value="modelo1"
                        name="modelo-card"
                    >
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Modelo 1</span>
                </label>
                Prévia
                <div class="modelo modelo1">
                    <p class="conteudo">{{ ideia.conteudo }}</p>
                    <p class="autor"><b>{{ ideia.autor }}</b></p>
                </div>
            </div>
            <div class="radio-modelo">
                <label for="modelo2">
                    <input 
                        type="radio"
                        id="modelo2"
                        value="modelo2"
                        name="modelo-card"
                    >
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Modelo 2</span>
                </label>
                Prévia
                <div class="modelo modelo2">
                    <p class="conteudo">{{ ideia.conteudo }}</p>
                    <p class="autor"><b>{{ ideia.autor }}</b></p>
                </div>
            </div>
            <div class="radio-modelo">
                <label for="modelo3">
                    <input 
                        type="radio"
                        id="modelo3"
                        value="modelo3"
                        name="modelo-card"
                    >
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Modelo 3</span>
                </label>
                Prévia
                <div class="modelo modelo3">
                    <p class="conteudo">{{ ideia.conteudo }}</p>
                    <p class="autor"><b>{{ ideia.autor }}</b></p>
                </div>
            </div>
        </div>
        <div class="acoes">
            <button type="button" class="btn btn-salva mr-2" (click)="criarIdeia()">Salvar</button>
            <button type="button" class="btn btn-cancelar" routerLink="/listar-ideias">Cancelar</button>
        </div>
    </form>
</section>