.header h2 {
    color: #C31952;
    margin-bottom: 1em;
}

.btn {
    border-radius: 30px;
    font-weight: bold;
    background-color: #C31952;
    color: #FFF;
}

.mural {
    margin: 2em;
}

.sem-ideias {
    text-align: center;
    margin: 1.2em;
}

.area-search {
	width: 28em;
    margin: auto;
    margin-bottom: 20px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
}

.area-search input {
	border: 1px solid transparent;
	background: none;
}

.area-search input.form-control:focus {
	border-right: none;
	border-radius: 30px;
}

.area-search .btn:hover {
    background-color: rgba(27.1, 31, 34.5, 0.9);
}

.area-search  .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: rgba(0, 0, 0, .5);
}

.area-search  .form-control::-moz-placeholder { /* Firefox 19+ */
	color: rgba(0, 0, 0, .5);
}

.area-search  .form-control::-ms-input-placeholder { /* IE 10+ */
	color: rgba(0, 0, 0, .5);
}