<section class="container">
    <div class="area-search input-group">
        <input
        type="search"
        class="form-control shadow-none"
        placeholder="Pesquise uma ideia"
        autofocus
        [(ngModel)]="filtro"
        (keyup)="pesquisarIdeias()">
        <div class="input-group-append">
            <button type="submit" class="btn input-group-text rounded-circle"><i
                class="fa fa-search"></i></button>
        </div>
    </div>

    <header class="header text-center">
        <h2>{{ titulo }}</h2>
        <button class="btn mr-2" (click)="recarregarComponente()">Todas as ideias</button>
        <button class="btn mr-2" (click)="listarFavoritas()">Ideias Favoritas</button>
        <button class="btn" routerLink="/criar-ideia">Adicionar ideia</button>
    </header>

    <div class="mural card-columns" *ngIf="listaIdeias.length > 0, else semIdeias">
        <div *ngFor="let ideia of listaIdeias">
            <app-ideia
             [ideia]="ideia"
             [listaFavoritos]="listaFavoritos"></app-ideia>
        </div>
    </div>
</section>

<app-botao-carregar-mais
[haMaisIdeias]="haMaisIdeias"
(click)="carregarMaisIdeias()">
</app-botao-carregar-mais>

<ng-template #semIdeias>
    <div class="sem-ideias">
    <p class="lead">Não há ideias cadastradas!</p>
</div>
</ng-template>
