.header h2 {
    color: #C31952;
    margin-bottom: 1em;
}

.btn {
    border-radius: 30px;
    font-weight: bold;
    background-color: #C31952;
    color: #FFF;
}

.mural {
    margin: 2em;
}

.sem-ideias {
    text-align: center;
    margin: 1.2em;
}